; =====================================================
; ==              2EE / 2 EVIL EYES - MAP 4              ==
; ==        Remove nobosses ProhibitBosses script        ==
; =====================================================

modify:
{
	match:
	{
		"hammerid" "6672"
	}
	delete:
	{
		"OnMapSpawn" "directorBeginScriptnobosses0.11"
	}
}
