; —————————————————| OUTLINE |———————————————————
filter:
{
    ; metal door at the 'event'
	"hammerid" "1016705"
}
{
    ; propane next to the door mentioned above
    "hammerid" "1580268"
    "targetname" "propanecanister"
}