; SATANİXON's changes
; =====================================================
; ==                STATIC AMMO PILES                ==
; ==          Add or modify ammo pile spawns         ==
; =====================================================
add:
; --- Ammo pile on the spawn table
{
	"classname" "weapon_ammo_spawn"
	"origin" "-202.81 2496.12 -159.35"
	"angles" "0 0 0"
	"model" "models/props/terror/ammo_stack.mdl"
	"solid" "6"
	"disableshadows" "1"
	"spawnflags" "2"
	"count" "5"
}
{
	"classname" "weapon_pistol_magnum"
	"origin" "-217.81 2455.12 -121.65"
	"angles" "359.95 113.37 269.64"
	"spawnflags" "1"
    "ammo" "999"
}
; Ensure shotgun in beginning safe room
modify:
{
	match:
	{
		"hammerid" "184844"
	}
	replace:
	{
		"weapon_selection" "any_shotgun"
	}
}